<div class="col-lg-9">
    <div class="box ">
        <div class="box-header mrg20B">
            <div class="box-title font-bold">Monthly Customer Applications</div>
            <small>Total customer applications for past 12 months excluding KIV and cancelled.</small>
        </div>
        <div class="box-body border-radius-none">
            <div class="w-p100">
                <canvas id="monthlyCallStatus" style="height: 240px;"  #monthlyApplications>{{chart}}</canvas>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="row m-t-xs">
        <div class="col-md-6">
            <h5 class="m-b-xs">Sales last 12 months</h5>
            <h1 class="no-margins float-left">{{totalApplications}} </h1>
            <i class="fa fa-bolt pos-rel mrg5L text-navy pos-t-12"></i>
        </div>
        <div class="col-md-6">
            <h5 class="m-b-xs">Commissions last 12 month</h5>
            <h1 class="no-margins float-left">RM {{totalCommissions}}</h1>
            <i class="fa fa-bolt pos-rel mrg5L text-navy pos-t-12"></i>
        </div>
    </div>
    <div class="font-bold mrg20T">Top 5 best selling package</div>
    <table class="table small m-t-sm mrg5B">
        <tbody>
            <tr *ngFor="let record of topSellers; let rowNo = index">
                <td>
                    {{record.packageName}}
                </td>
                <td class="text-right">
                    <strong>{{record.totalApplications}}</strong>
                </td>
            </tr>
        </tbody>
    </table>
    <small class="smaller">
        The best seller rolling up from past 12 months
    </small>
</div>


