<div [ngClass]="{'open':showMenu}">
    <a class="dropdown-toggle text-white" (click)="displayDropdown()">
        <i class="mdi mdi-account font-size-18"></i>
    </a>

    <ul class="filter-select scale-up w-250 pad10A bg-white">
        <li class="header">Impersonate User</li>
        <li>
            <select [(ngModel)]="impersonateUser" class="form-control bg-white mrg5T mrg15B " name="impersonateUser" [disabled]="impersonated">
                <option *ngFor="let u of users" [ngValue]="u.dataValue">{{u.dataText}}</option>
            </select>
       
        </li>
        <li class="footer">
            <button class="btn btn-primary w-p100" (click)="impersonate()" *ngIf="!impersonated" [ngClass]="{'show-spinner':impersonating}">
                {{impersonating ? 'Impersonating' : 'Impersonate'}}
                <span class="loading"></span>
            </button>
            <a class="btn btn-primary w-p100" (click)="stopImpersonate()" *ngIf="impersonated">Stop Impersonate</a>
        </li>
    </ul>
</div>