<div class="middle-box  w-800">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox" *ngIf="!completed">
                    <div class="ibox-title">
                        <h5>Register to <small>* is required field.</small></h5>
                    </div>
                    <div class="ibox-content">
                        <loading></loading>
                        <form #applicationForm="ngForm" (ngSubmit)="submit()">
                            <!--PRODUCT TYPES-->
                            <ng-container *ngFor="let field of formFields">
                                <div class="form-group row" *ngIf="!field.hidden">
                                    <label class="col-sm-3 col-form-label">
                                        {{field.displayText}}
                                        <span *ngIf="field.dataFieldControl.required" class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <data-control *ngIf="field.dataFieldControl" [(ngModel)]="formRecord[field.dataFieldControl.controlName]" [fieldId]="field.dataFieldControl.controlName"
                                                      [field]="field.dataFieldControl" [parentForm]="applicationForm" name="{{field.dataFieldControl.controlName}}"></data-control>
                                        <span class="text-danger" *ngIf="field.fieldName=='userLogin' && hasLoginExists">The user login has already exists. Please choose another login.</span>
                                        <span *ngIf="field.fieldName=='superiorId'">Please enter superior <u>id number</u></span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            </ng-container>
                            <!--ATTACH REQUIRED DOCUMENTS-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Attach required documents</label>
                                <div class="col-sm-9">
                                    <div class="alert alert-warning mrg10T pad15A ">
                                        <div>Please upload the following documents</div>
                                        <ol>
                                            <li>Front & Back IC</li>
                                            <li>Bank Statement (Front page)</li>
                                            <li>Bank Statement (Front page)</li>
                                            <li>For Business Sign Up (SSM) - Business Name</li>
                                            <li>For Business Sign Up (SSM) - Ownership</li>
                                        </ol>
                                    </div>

                                    <file-uploader name="relDoc" [(ngModel)]="formRecord['files']"></file-uploader>
                                    <span class="form-text m-b-none">
                                        Upload agent application related documents. Allowed file types are ".gif", ".jpg", ".jpeg", ".png", ".pdf".
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row mrg20T">
                                <label class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input type="checkbox" name="agree" [(ngModel)]="agree" class="pos-rel mrg5R" style="top: 3px;" /> I hereby acknowledged that I have read and understood the Privacy Statement and agreed to unifi 
                                    <a href="../../../../DMTerms.pdf" target="_blank">Term Of Use</a>
                                </div>
                            </div>
                            <!--SAVE OR CANCEL-->
                            <div class="form-group row mrg25T">
                                <div class="col-sm-12 text-center ">
                                    <button type="submit" class="btn btn-primary mrg10R" [ngClass]="{'show-spinner':isUpdating}"
                                            [disabled]="!agree || isUpdating" style="width: 180px;">
                                        {{isUpdating ? 'Registering' : 'Register'}}
                                        <span class="loading"></span>
                                    </button>
                                    <a [routerLink]='["/"]' class="btn btn-white">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center widget-head-color-box navy-bg p-lg" *ngIf="completed">
                    <div class="">
                        <i class="fa fa-thumbs-up big-icon"></i>
                        <h1>Registration Completed</h1>
                        <p class="mrg20T">
                            Thank you for registering to be one of our agents. We will review your submission. An activation code will be send to your email once your submission is verified.
                        </p>
                    </div>
                    <a [routerLink]='["/"]' class="btn btn-w-m text-white ">
                        Back To Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
