<div class="middle-box  w-800">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox" *ngIf="!completed">
                    <div class="ibox-title">
                        <h5>Register to <small>* is required field.</small></h5>
                    </div>
                    <div class="ibox-content">
                        <loading></loading>
                        <form #applicationForm="ngForm" (ngSubmit)="submit()">
                            <!--PRODUCT TYPES-->
                            <ng-container *ngFor="let field of formFields">
                                <div class="form-group row" *ngIf="!field.hidden">
                                    <label class="col-sm-3 col-form-label">
                                        {{field.displayText}}
                                        <span *ngIf="field.dataFieldControl.required" class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <data-control *ngIf="field.dataFieldControl" [(ngModel)]="formRecord[field.dataFieldControl.controlName]" [fieldId]="field.dataFieldControl.controlName"
                                                      [field]="field.dataFieldControl" [formName]="'applicationForm'" name="{{field.dataFieldControl.controlName}}"></data-control>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            </ng-container>
                            <!--SAVE OR CANCEL-->
                            <div class="form-group row">
                                <div class="col-sm-12 ">
                                    <a [routerLink]='["/"]' class="btn btn-white float-right">Cancel</a>
                                    <!--<button class="btn btn-primary" type="submit">Save changes</button>-->
                                    <button type="submit" class="btn btn-primary float-right mrg10R" [ngClass]="{'show-spinner':isUpdating}"
                                            [disabled]="isUpdating" style="width: 180px;">
                                        {{isUpdating ? 'Registering' : 'Register'}}
                                        <span class="loading"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center" *ngIf="completed">
                    <div class="widget-head-color-box navy-bg p-lg">
                        <i class="fa fa-thumbs-up big-icon"></i>
                        <h1>Registration Completed</h1>
                        <p class="mrg20T">
                            Thank you for registering to be one of our agents. We will review your submission. An activation code will be send to your email once your submission is verified.
                        </p>
                    </div>
                    <a [routerLink]='["/"]' class="btn btn-w-m btn-link text-white ">
                        Back To Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
