<!--<loading></loading>-->
<table class="table table-striped float-left wp-100">
    <tbody>
        <tr *ngIf="dataSource.length">
            <ng-container *ngFor="let column of dataColumns; let colNo = index">
                <th>{{column}}</th>
            </ng-container>
            <th>Action</th>
        </tr>
        <tr *ngFor="let row of dataSource; let rowNo = index" class="row-select">
            <ng-container *ngFor="let value of getRowData(row); let colNo = index">
                <td [innerHTML]="value" *ngIf="(!row.onEdit && colNo < dataColumns.length) || colNo <= 1"></td>
            </ng-container>
            <ng-container *ngIf="row.onEdit">
                <td *ngFor="let comm of commissionSettings">
                    <input type="number" min="0" class="form-control" [(ngModel)]="comm.agentCommissionPer" />
                </td>
            </ng-container>
            <td>
                <!--<a (click)="editRow(row[itemKey])"><i class="fa fa-edit"></i></a>-->
                <tablerow-buttons [editMode]="row.onEdit" [hideDelete]="true" (onEdit)="editRow(rowNo)" (onCancelEdit)="cancelEdit(rowNo)" (onUpdate)="updateRow(rowNo)"></tablerow-buttons>
            </td>
        </tr>
        <tr *ngIf="!dataSource.length">
            <td class="pad0A" [attr.colspan]="dataColumns.length">
                <div class="center-div">
                    <div class="callout callout-secondary text-center pad45A mrg0B">
                        <i class="mdi mdi-package-variant font-size-65"></i>
                        <h2 class="mrg0T">No records found</h2> 
                        <p>
                            There are no incomplete calls
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!--<pager [totalRecord]="totalRecords" (pageClick)="pageChanged($event)" *ngIf="showPager"></pager>-->
