
<span class="label label-warning new-message" *ngIf="unreadMessages > 0">{{this.unreadMessages}}</span>
<div class="user-comm">
    <div class="user-comm-box" [ngClass]="{'show':showCommunicationPanel}">
        <a class="spin-icon text-white" (click)="handleCommunication()">
            <i class="fa fa-comments-o " [ngClass]="{'bounce' : unreadMessages > 0}" ></i>
        </a>
        <div class="skin-settings">
            <div class="title">
                Communication Remarks <br>
                <small style="text-transform: none;font-weight: 400">
                    This panel is use for agent and administrator communication.
                </small>
            </div>
            <div class="chat-discussion">
                    <ng-container *ngFor="let item of communications">
                        <div class="chat-message" [ngClass]="{'left': item.role=='AG','right': item.role=='AD'}">
                            <div class="message-avatar message-avatar-text" [ngClass]="{'bg-info': item.role=='AG','bg-success': item.role=='AD'}">{{item.role}}</div>
                            <div class="message">
                                <label class="message-author"> {{item.createdBy }}</label>
                                <span class="message-date"> {{item.createdOn | date : 'dd MMM yyyy hh:mm a'}}</span>
                                <span class="message-content">
                                    {{item.message}}
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </div>
        
                <div class="row mrg0A chat-message-form">
                    <div class="form-group">
                        <textarea class="form-control message-input" [(ngModel)]="textMessage" name="textMessage" placeholder="Enter message text"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary float-right mrg5T mrg5B" [ngClass]="{'show-spinner':isUpdating}"
                                [disabled]="isUpdating" (click)="submit()">
                            {{isUpdating ? 'Sending' : 'Send'}}
                            <span class="loading"></span>
                        </button>
                    </div>
                </div>
        
        </div>
    </div>
</div>