<div class="wrapper wrapper-content animated fadeInRight">
    <loading></loading>
    <div class="row">
        <div class="col-md-6 mrg10T mrg25B">
            <div class="float-left">
                <div alt="image" class="rounded-circle bg-info float-left rounded-circle-lg">
                    <i class="fa fa-money font-size-24"></i>
                </div>
                <div class="float-left mrg15L">
                    <div class="totalClaim">
                        <span class="font-size-35 mrg10R line-height-8">RM {{totalSelectedAmount}}</span>
                    </div>
                    <div class="totalSelected">
                        <i class="fa fa-circle-o text-info font-size-11 mrg5R"></i>
                        <small class="text-muted">Selected Amount</small>
                    </div>
                </div>
            </div>
            <div class="float-left mrg25L">
                <div alt="image" class="rounded-circle bg-warning float-left rounded-circle-lg">
                    <i class="fa fa-minus-square-o font-size-24" style="padding-left: 3px"></i>
                </div>
                <div class="float-left mrg15L">
                    <div class="totalClaim">
                        <span class="font-size-35 mrg10R line-height-8">RM {{amountToDeduct}}</span>
                    </div>
                    <div class="totalSelected">
                        <i class="fa fa-circle-o text-warning font-size-11 mrg5R"></i>
                        <small class="text-muted">Amount Deduct</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mrg10T mrg25B text-right">
            <label class="text-uppercase font-normal">Claimable Amount</label>
            <div class="mrg0T amt-claimable font-bold" [ngClass]="{'text-success': allowSubmit,'text-danger': !allowSubmit }">RM {{totalClaimableAmount}}</div>
        </div>
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title pad10R">
                    <h5>Submit Withdrawal</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive mrg10T">
                        <table class="table table-striped mrg10T dataTable" >
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th *ngFor="let col of dataRowMapper" [ngClass]="col.colWidth">{{col.headerText}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let record of formRecord.withdrawalItems; let rowNo = index">
                                    <td>{{rowNo+1}}</td>
                                    <ng-container *ngFor="let field of dataRowMapper">
                                        <td>
                                            <data-field [displayType]="field.displayType" [displayValue]="record[field.fieldName]"></data-field>
                                        </td>
                                    </ng-container>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>