<div class="disp-block" *ngIf="pageButtons.length > 0">
    <div class="col-sm-4 pad0L mrg5T">
        <div class="dataTables_length float-left mrg15L">
            <label>
                Show
                <select class="form-control form-control-sm mrg5L mrg5R" #pageSize (change)='pageSizeChanged(pageSize.value)'>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100" selected>100</option>
                </select>
                entries
            </label>
        </div>
    </div>
    <div class="col-sm-4 pad0L mrg5T text-center">
        <div class="dataTables_info">{{pageDesc}}</div>
    </div>
    <div class="col-sm-4 dataTables_paginate paging_simple_numbers pad0R mrg5T">
        <ul class="pagination">
            <li class="paginate_button page-item previous">
                <a class="page-link" (click)="goFirstPage()" [ngClass]="{'disabled':disabledFirstAndPrevBtn}">First</a>
            </li>
            <li class="paginate_button page-item previous">
                <a class="page-link" (click)="goPrevious()" [ngClass]="{'disabled':disabledFirstAndPrevBtn}"><<</a>
            </li>
            <li class="paginate_button page-item" *ngFor="let pageNo of pageButtons"
                [ngClass]="{'active': isActivePage(pageNo)}">
                <a class="page-link" (click)="goToPage(pageNo)">
                    {{pageNo}}
                </a>
            </li>
            <li class="paginate_button page-item next">
                <a class="page-link" (click)="goNext()" [ngClass]="{'disabled':disabledNextAndLastBtn}">>></a>
            </li>
            <li class="paginate_button page-item next">
                <a class="page-link" (click)="goLastPage()" [ngClass]="{'disabled':disabledNextAndLastBtn}">Last</a>
            </li>
        </ul>
    </div>
</div>
