<nav class="navbar-default navbar-static-side" #navMenu role="navigation" *ngIf="currentUser">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu" data-widget="tree">
            <li class="nav-header w-p100">
                <div class="dropdown profile-element">
                    <div _ngcontent-ng-cli-universal-c1="" alt="image" class="rounded-circle bg-success" style="
            height: 36px;
            width: 36px;
            padding: 8px 12px;">
                        <i _ngcontent-ng-cli-universal-c1="" alt="image" class="fa fa-user-o"></i>
                    </div>          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">{{currentUser.fullname}}</span>
                        <span class="text-muted text-xs block">{{currentUser.role}}<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li *ngIf="!currentUser.isAdmin"><a class="dropdown-item" [routerLink]='["/agent-profile/", currentUser.agentId]'>Profile</a></li>
                        <li><a class="dropdown-item" [routerLink]='["/edit-password/"]'>Update Password</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    BZ+
                </div>
            </li>
            <li [ngClass]="{'active': menuClickedIndex == 1}" (click)="menuClickedIndex = 1">
                <a [routerLink]='["/home"]'><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li [ngClass]="{'active': menuClickedIndex == 2}" (click)="menuClickedIndex = 2">
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">Manage Orders</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" [ngClass]="{'in': menuClickedIndex == 2}">
                    <li><a [routerLink]='["/create-order"]'>New Order</a></li>
                    <li><a [routerLink]='["/view-order"]'>View Orders</a></li>
                    <li><a [routerLink]='["/view-complete-app"]' *ngIf="currentUser.role != 'Admin'">View Completed Orders</a></li>
                </ul>
            </li>
            <li [ngClass]="{'active': menuClickedIndex == 3}" (click)="menuClickedIndex = 3" *ngIf="currentUser.role != 'Admin'">
                <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Manage Agents</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" [ngClass]="{'in': menuClickedIndex == 3}">
                    <li [ngClass]="{'hidden' : !currentUser.hasFullControl}"><a [routerLink]='["/agent-registration-list"]'>Agent Registrations</a></li>
                    <li [ngClass]="{'hidden' : !currentUser.hasFullControl}"><a [routerLink]='["/agent-maintenance"]'>Agents Maintenance</a></li>
                    <li><a [routerLink]='["/agent-comission"]'>Agent Commissions</a></li>
                    <li><a [routerLink]='["/reset-agent-password"]' [ngClass]="{'hidden' : !currentUser.hasFullControl}">Reset Agent Password</a></li>
                </ul>
            </li>
            <li [ngClass]="{'active': menuClickedIndex == 4}" (click)="menuClickedIndex = 4" *ngIf="currentUser.role != 'Admin'">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Manage Withdrawal</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" [ngClass]="{'in': menuClickedIndex == 4}">
                    <li><a [routerLink]='["/view-withdrawal"]'>View Withdrawal</a></li>
                    <li><a [routerLink]='["/create-withdrawal"]'>Submit Withdrawal</a></li>
                    <li [ngClass]="{'hidden' : !currentUser.isAdmin}"><a [routerLink]='["/agent-pocket"]'>Agent Pocket Flow</a></li>
                    <li><a [routerLink]='["/manage-clawback"]'>Debit Note</a></li>
                </ul>
            </li>
            <li [ngClass]="{'active': menuClickedIndex == 5}" (click)="menuClickedIndex = 5" *ngIf="currentUser.role == 'SuperAdmin'">
                <a [routerLink]='["/manage-withdrawal"]'><i class="fa fa-money"></i> <span class="nav-label">Manage Incentives</span></a>
                <ul class="nav nav-second-level collapse" [ngClass]="{'in': menuClickedIndex == 5}">
                    <li><a [routerLink]='["/upload-incentives"]'>Upload Incentives</a></li>
                    <li><a [routerLink]='["/view-incentives"]'>View Incentives</a></li>
                </ul>
            </li>
            <li (click)="menuClickedIndex = 6" *ngIf="currentUser.role == 'SuperAdmin'">
                <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">Administration</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" [ngClass]="{'in': menuClickedIndex == 6}">
                    <li><a [routerLink]='["/admin-access"]'>Admin Access</a></li>
                    <li><a [routerLink]='["/manage-product"]'>Manage Products</a></li>
                    <li><a [routerLink]='["/manage-packages"]'>Manage Packages</a></li>
                    <li><a [routerLink]='["/manage-category"]'>Manage Category</a></li>
                    <li><a [routerLink]='["/view-announcement"]'>Manage Announcement</a></li>
                    <li><a [routerLink]='["/manage-login-banner"]'>Manage Login Banner</a></li>
                </ul>
            </li>
            <li (click)="menuClickedIndex = 7" *ngIf="currentUser.role == 'SuperAdmin'">
                <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" [ngClass]="{'in': menuClickedIndex == 7}">
                    <li><a [routerLink]='["/report-agent-submission"]'>Agent Submissions</a></li>
                    <li><a [routerLink]='["/report-agent-withdrawal"]'>Agent Withdrawal</a></li>

                </ul>
            </li>
        </ul>

    </div>
</nav>

