<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="BroadbandZoneEntities" connectionString="metadata=res://*/BbZoneModel.csdl|res://*/BbZoneModel.ssdl|res://*/BbZoneModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost,1466;initial catalog=BbZone;persist security info=True;user id=broadbandzone2ucom;password=0yVwP(FLt6s7#0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  
  </connectionStrings>
  <system.webServer  xdt:Transform="Insert" >
      <rewrite>
        <rules>
          <clear />
          <rule name="Redirect to https" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://www.broadbandzone2u.com" redirectType="Permanent" appendQueryString="false" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  <system.web>
  </system.web>
</configuration>
