<div [ngSwitch]="field.controlType">
    <!-- LABEL -->
    <label *ngSwitchCase="controlType.label" class="font-normal">{{data}}</label>

    <!-- TEXT -->
    <input *ngSwitchCase="controlType.textbox" id="{{fieldId}}" name="{{fieldId}}" type="text" class="form-control form-control-sm" maxlength="{{field.maxLength}}"
           [required]="field.required" [(ngModel)]="data" (ngModelChange)="setChanges()" [readonly]="readonly" placeholder="{{field.placeholder}}">

    <!-- NUMBER -->
    <input *ngSwitchCase="controlType.number" id="{{fieldId}}" name="{{fieldId}}" type="number" class="form-control form-control-sm" maxlength="{{field.maxLength}}"
           [required]="field.required" [(ngModel)]="data" (ngModelChange)="setChanges()" [readonly]="readonly">

    <!-- PASSWORD -->
    <input *ngSwitchCase="controlType.password" id="{{fieldId}}" name="{{fieldId}}" type="password" class="form-control form-control-sm" maxlength="{{field.maxLength}}"
           [required]="field.required" [(ngModel)]="data" (ngModelChange)="setChanges()">

    <!-- TEXTAREA -->
    <textarea *ngSwitchCase="controlType.textarea" id="{{fieldId}}" name="{{fieldId}}" class="form-control form-control-sm" maxlength="{{field.maxLength}}" rows="3"
              [required]="field.required" [(ngModel)]="data" (ngModelChange)="setChanges()" [disabled]="disabled" autosize></textarea>

    <!-- DROPDOWN  -->
    <select *ngSwitchCase="field.controlType === controlType.select || field.controlType === controlType.cascadeDropdown ? field.controlType  : -1"
            id="{{fieldId}}" name="{{fieldId}}" class="form-control form-control-sm" [required]="field.required" [disabled]="disabled"
            [(ngModel)]="data" (ngModelChange)="setChanges()">
        <option [ngValue]="null" *ngIf="!onEdit && !forDataFilter">Please select</option>
        <option [ngValue]="null" *ngIf="!onEdit && forDataFilter">All</option>
        <option *ngFor="let option of dropdownItems" [ngValue]="option.key.toString()">{{option.value}}</option>
    </select>
    <!-- CHECKBOX -->
    <div *ngSwitchCase="controlType.checkbox" class="checkbox checkbox-primary">
        <input type="checkbox" id="{{fieldId}}" name="{{fieldId}}" [(ngModel)]="data" (ngModelChange)="setChanges()">
        <label for="{{fieldId}}"></label>
    </div>

    <!-- DATE RANGE -->
    <div *ngSwitchCase="controlType.dateRange">
        <input type="text"
               ngxDaterangepickerMd
               class="form-control  form-control-sm"
               name="{{fieldId}}"
               [locale]="{applyLabel: 'OK', format: 'DD-MMM-YYYY', autoApply: true}"
               [(ngModel)]="data"
               (ngModelChange)="setChanges()"
               startKey="startDate"
               endKey="endDate" />
    </div>
</div>
<ng-container *ngIf="controlLoaded">
    <span class="text-danger" *ngIf="parentForm.controls[fieldId].hasError('required') && parentForm.controls[fieldId].touched">This is required</span>
</ng-container>
