
<div id="wrapper" *ngIf="currentUser; else loginscreen">
    <app-nav-menu [currentUser]="currentUser"></app-nav-menu>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary btn-sm" (click)="hideNavBar()"><i class="fa fa-bars"></i> </a>
                    <h2 class="navbar-header-title mrg5T mrg5L">Broadband Zone</h2>
                </div>
                <ul class="nav navbar-top-links navbar-right mrg20R">
                    <li class="dropdown">

                    </li>
                    <li>
                        <a (click)="logout()">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <router-outlet></router-outlet>
        <!--Scroll to top-->
        <a [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="scroll-to-top">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
    </div>
</div>



<ng-template #loginscreen>
    <router-outlet></router-outlet>
</ng-template>