
<div id="wrapper" *ngIf="currentUser; else loginscreen">
    <app-nav-menu [currentUser]="currentUser"></app-nav-menu>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary btn-sm" href="#"><i class="fa fa-bars"></i> </a>
                    <h4 class="navbar-header-title mrg5T">Admin Tool</h4>
                </div>
                <ul class="nav navbar-top-links navbar-right mrg20R">
                    <li class="dropdown">
               
                    </li>
                    <li>
                        <a (click)="logout()">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <router-outlet></router-outlet>
    </div>

</div>



<ng-template #loginscreen>
    <router-outlet></router-outlet>
</ng-template>