
<div class="btn-group">
    <button class="btn btn-default dropdown-toggle product-selection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span *ngIf="!selectedProduct">Select</span>
        <ng-container *ngIf="selectedProduct">
            <img [src]="selectedProduct.productImgPath" *ngIf="selectedProduct.imageExisted" />
            <div class="font-bold text-navy font-size-18 float-left" *ngIf="!selectedProduct.imageExisted">{{selectedProduct.productName}}</div>
        </ng-container>
    </button>
    <ul class="dropdown-menu">
        <ng-container *ngFor="let prod of products; let itemNo = index">
            <li class="dropdown-item pad5A">
                <a (click)="onClick(prod.productId, itemNo)">
                    <img [src]="prod.productImgPath" *ngIf="prod.imageExisted">
                    <div *ngIf="!prod.imageExisted" class="font-bold text-navy text-center font-size-18">{{prod.productName}}</div>
                </a>
            </li>
            <li class="dropdown-divider"></li>
        </ng-container>
    </ul>
</div>
