
<!--<i *ngIf="!onEdit; else radioButtons" [ngClass]="{'ti-check text-success': currentValue == true, 'ti-close text-pink': currentValue == false}"></i>-->
<span *ngIf="!onEdit; else radioButtons">
    {{currentValue == true? 'Yes' : currentValue == false ? 'No' : '' }}
</span>
<ng-template #radioButtons>
    <fieldset class="float-left mrg25R">
        <input id="rdPdYes_{{id}}" type="radio" name="rdPdYesNo_{{id}}" [disabled]="disabled" [(ngModel)]="currentValue" (ngModelChange)="setChangedValue($event)" class="with-gap radio-col-navy" [value]="true">
        <label for="rdPdYes_{{id}}" class="pos-t-3">Yes</label>
    </fieldset>
    <fieldset>
        <input id="rdPdNo_{{id}}" type="radio" name="rdPdYesNo_{{id}}" [disabled]="disabled" [(ngModel)]="currentValue" (ngModelChange)="setChangedValue($event)" class="with-gap radio-col-navy" [value]="false">
        <label for="rdPdNo_{{id}}" class="pos-t-3">No</label>
        <button type="button" class="btn btn-primary btn-flat btn-sm line-h-16 pos-t-3 mrg15L text-transform-cap" (click)="clear()" *ngIf="currentValue != null && !disabled">Clear</button>
    </fieldset>
</ng-template>
